body {
    font-family: source-sans-pro;
    background-color: #7F7B7B;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
}

.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.title {
    
}
.sub-title {
    font-weight: 400;
    font-style: normal;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    background-color: #B3B3B3;
    color: #070707;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 18px;
	
}

.main-table-border{
    border-right: 1px solid #9A0404;
    border-left: 1px solid #9A0404;
    border-bottom: 1px solid #9A0404;
    font-style: normal;
}


.form-submit-button {
    background: #B3B3B3;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow: none;
	height:45px; width:100px;
	font-size: 20px;
		
}

.button {
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #B3B3B3;
  color: #333333;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}







.home
{
	padding-right: 10px;
    color: #FFFFFF;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;

}
.primary_header {
    font-weight: bold;
    font-style: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: left;
    color: #FFFFFF;
    letter-spacing: 0px;
    font-size: 36px;
    width: 100%;
    height: 75px;
    padding-top: 35px;
    padding-bottom: 1px;
    clear: left;
    background-color: #DE0404;
} 

.info-table{
    border-right: 1px solid #00000;
    border-left: 1px solid #00000;
    border-top: 1px solid #434343;    
	border-bottom: 1px solid #434343;

	
}

.secondary_header {
	width: 100%;
	align-items: center;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #B3B3B3;
	clear: left;
}

.rounded-input {
    padding: 10px;
    border-radius: 5px;
	width:150px;
}
.mainbody {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
    border-bottom: 2px solid #2C9AB7;
} 
